#!/usr/bin/make -f

export INSTALL_MOD_DIR:=extra

KVERSION   ?= $(shell uname -r)
KERNEL_SRC :=  /lib/modules/$(KVERSION)
MOD_SRC_DIR:= $(shell pwd)
# The staged Trixie graph currently builds only AG9032V2A.  Expand this list
# only when the corresponding platform package is independently ported.
MODULE_DIRS := ag9032v2a

%:
	dh $@

override_dh_auto_build:
	(set -e; for mod in $(MODULE_DIRS); do \
		$(MAKE) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules modules; \
	done)

override_dh_auto_install:
	(set -e; for mod in $(MODULE_DIRS); do \
		$(MAKE) -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules \
			INSTALL_MOD_PATH=$(MOD_SRC_DIR)/debian/platform-modules-$${mod} \
			INSTALL_MOD_DIR=$(INSTALL_MOD_DIR) modules_install; \
	done)

override_dh_usrlocal:

override_dh_clean:
	dh_clean
	(for mod in $(MODULE_DIRS); do \
		make -C $(KERNEL_SRC)/build M=$(MOD_SRC_DIR)/$${mod}/modules clean; \
	done)

