[Unit]
Description=Delta ag9032v2a Platform modules
After=local-fs.target systemd-modules-load.service
Before=pmon.service xcvrd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ag9032v2a_platform_init.sh start
ExecStop=/usr/local/bin/ag9032v2a_platform_init.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target

